:root {
    --headerBackground: rgb(8, 8, 63);
    --boxColor: white;
    --gameTextColor: black;
}

body {
    background-color: black;
}

header {
    background-color: var(--headerBackground);
    color: white;
    text-align: center;
    margin: 0;
}

main{
    display: flex;
}

p {
    padding: 10vh;
}

#word-box {
    background-color: var(--boxColor);
    text-align: center;
    color: var(--gameTextColor);
    height: 30vh;
    width: 50vw;
    font-size: 5vh;
    /* padding-top: 15vh; */
    /*flex-direction: row;*/
    display:inline-block;
    justify-items: center;
}

#game-score {
    background-color: var(--boxColor);
    color: var(--gameTextColor);
    width:50vw;
    height:30vh;
    flex-direction: row;
    display: inline-block;
}

#game-timer {
    /* background-color: var(--headerBackground); */
    color: var(--gameTextColor);
    align-items: center;
}
